html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: #666666;}
body{font-family: '맑은 고딕', '돋움',"malgun gothic","나눔고딕","Nanum Gothic","AppleGothic","dotum", sans-serif; font-weight: bold; font-size: 1em;}
img{border: 0;}
.cf:after{content: ''; display: block; clear: both;}
/* body{background:url(../images/nec_bg.png) no-repeat center top; height: 5000px;} */
.fl{ float:left;}
#bg_100{width: 100%; height: 2497px;  background: #e0f3fa; margin-top:4px;}
#wrapper{width: 1420px; margin : 0 auto;}
#container{float:left; width: 1420px; height: 2444px; margin: 0 auto;}
h3{color: #666666;}

	#top_contents{float: left; width: 1354px; height: 771px; margin-top: 34px; margin-bottom: 33px; background: #ffffff; padding: 33px;}
		.slide1{float: left; position:relative; width: 667px; height: 376px; margin: 0 20px 30px 0; overflow:hidden;}
			.slide1_panel{width: 2001px; position: relative; z-index:1;}
			.slide1_image{float: left; width: 667px; height:376px; }
			.slide1_text{position: absolute; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); width: 2001px; overflow: hidden; color: #ffffff; z-index:2; height: 40px; font-size: 16px; line-height: 40px; box-sizing: border-box; float: left;}
			.slider_text{width: 667px; padding-left: 10px; box-sizing: border-box;}
			
			.slide1_ctrl_btn{position: absolute; right: 0; bottom: 0; z-index: 3; height: 40px; font-size: 18px; line-height: 40px; box-sizing: border-box;}
			.slide1_ctrl_btn .btn_pageNum{color: #ffffff; border-right: 1px solid #cccccc; padding-right: 10px;}
			.slide1_ctrl_btn .btn_left{width: 40px; height: 40px; background: url(../images/visualCtrl_prev.png) no-repeat 14px 14px; background-size: 12px 12px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide1_ctrl_btn .btn_stop{width: 40px; height: 40px; background: url(../images/visualCtrl_stop.png) no-repeat 14px 14px; background-size: 12px 12px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide1_ctrl_btn .btn_start{width: 40px; height: 40px; background: url(../images/visualCtrl_start.png) no-repeat 14px 14px; background-size: 12px 12px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide1_ctrl_btn .btn_right{width: 40px; height: 40px; background: url(../images/visualCtrl_next.png) no-repeat 14px 14px; background-size: 12px 12px; border-right: 1px solid #cccccc; cursor: pointer;}
			
			
			
			
		.main_service{float: left; width: 278px; height: 333px; margin: 0 20px 30px 0; background: #059fa9; padding: 22px;}
			.main_service h2{width: 280px; height: 50px; color: #ffffff; line-height: 50px; font-size: 25px; border-bottom: 1px solid #ffffff; text-align: center;}
			.main_service dl dt{text-align: left; font-size: 18px; line-height: 40px; margin-top: 20px; font-weight: normal; color: #ffffff;}
			.main_service dl dd{display: block; float: left; width: 47%; border: 2px solid #059fa9; background: #ffffff; text-align: center; font-weight: normal; font-size: 14px; line-height: 28px;}
			.main_service dl dd a{display: block;  color: #666666;}
			
		.slide2{float: left; position:relative; width: 324px; height: 376px; margin-bottom: 30px; overflow: hidden;}
			.slide2_panel{width: 972px; height: 376px; position: relative;}
			.slide2_image{float: left; width: 324px; height: 376px;}
		
			.slide2_ctrl_btn{position: absolute; right: 0; bottom: 0; z-index: 3; height: 30px; font-size: 14px; line-height: 30px; box-sizing: border-box; background: rgba(0, 0, 0, 0.4); padding-left: 10px;}
			.slide2_ctrl_btn .btn_pageNum2{color: #ffffff; border-right: 1px solid #cccccc; padding-right: 10px;}
			.slide2_ctrl_btn .btn_left2{width: 30px; height: 30px; background: url(../images/visualCtrl_prev.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide2_ctrl_btn .btn_stop2{width: 30px; height: 30px; background: url(../images/visualCtrl_stop.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide2_ctrl_btn .btn_start2{width: 30px; height: 30px; background: url(../images/visualCtrl_start.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide2_ctrl_btn .btn_right2{width: 30px; height: 30px; background: url(../images/visualCtrl_next.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
		
		.broad_notice{float: left; width: 266px; height: 324px; margin-right: 10px; background: #ffffff; padding: 13px 28px 28px 28px;}
			.broad_notice .broad_bar{height: 36px; border-bottom: 1px solid #efefef;}
			.broad_notice>.broad_bar>ul>li{float: left;}
			.active{border-bottom: 3px solid #647ec3; padding-bottom: 4px;}
			.broad_notice .broad_bar .bar{color: #cccccc; font-size: 14px; line-height: 34px;}
			.broad_notice>.broad_bar>ul>li>a{color: #666666; font-size: 18px; line-height: 36px;}
			.broad_notice .broad_Img{margin-top: 20px;}
			.broad_notice span{display: block; margin: 12px 12px 0 12px; font-size: 15px; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border-bottom: 1px solid #cccccc; padding-bottom: 6px;}
			.broad_notice span a{color: #666666;}
			.broad_notice span a:hover{text-decoration: underline;}
			.broad_more{width: 24px; height: 24px; background: url(../images/more.png) no-repeat 8px 12px; margin: 0 0 0 63px;}
			.broad_notice .broad_img_box ul li a{display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #666666; padding : 0 10px 0 0;}
			.broad_notice .broad_img_box ul li a:first-child{padding-top: 6px;}
			
			.broad_notice > ul > li > a:hover{text-decoration: underline;}
			.broad_notice .broad_img_box ul li a:hover{text-decoration: underline;}
			.broad_notice > .broad_img_box ul li{padding: 0 0 0 20px; background: url(../images/bullet.png) no-repeat 12px center; line-height: 26px;}
		.nec_notice{float: left; width: 266px; height: 324px; margin-right: 10px; padding: 13px 28px 28px 38px; border-left: 2px dotted #dedede; background: #ffffff;}
			.nec_notice .nec_notice_bar{height: 36px; border-bottom: 1px solid #efefef;}
			.nec_notice>.nec_notice_bar>ul>li{float:left; font-size: 18px; line-height: 36px; color: #666666;}
			.nec_notice_more{width: 24px; height: 24px; background: url(../images/more.png) no-repeat 8px 12px; margin: 0 0 0 93px;}
			.nec_notice>.nec_notice_bar>ul>li>a{color: #666666; font-size: 18px; line-height: 36px;}
			.nec_notice .nec_notice_Img{margin-top: 20px;}
			.nec_notice span{display: block; margin: 12px; font-size: 15px; font-weight: bold; white-space:nowrap; text-overflow: ellipsis; overflow: hidden; color: #666666;}
			.nec_notice span:hover{text-decoration: underline;}
			.nec_notice_box{border-bottom: 1px solid #cccccc;}
			.nec_notice > ul > li > a{display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #666666; padding: 0 10px 0 0;}
			.nec_notice > ul > li > a:hover{text-decoration: underline;}
			.nec_notice > ul > li{padding: 0 0 0 20px; background: url(../images/bullet.png) no-repeat 12px center; line-height: 26px;}
			
		.nec_on_air{float: left; width: 264px; height: 324px; margin-right: 10px; background: #ffffff; padding: 13px 28px 28px 38px; border-left: 2px dotted #dedede;}
			.nec_on_air .on_air_bar{height: 36px; border-bottom: 1px solid #efefef;}
			.nec_on_air>.on_air_bar>ul>li{float:left; font-size: 18px; line-height: 36px; color: #666666;}
			.on_air_more{width: 24px; height: 24px; background: url(../images/more.png) no-repeat 8px 12px; margin: 0 0 0 60px;}
			.nec_on_air .on_air_Img{margin-top : 20px;}
			.nec_on_air span{display: block; font-size: 20px; font-weight: bold; color: #666666;}
			.nec_on_air dl dd{margin : 1px; float: left; width: 47%; height: 44px; border: 1px solid #1cb3bc; font-size: 16px; line-height: 44px; font-weight: normal;}
			.nec_on_air dl dd:hover{text-decoration: underline;}
			.nec_on_air>dl>dd>a{color: #666666;}
			.tv_icon01{float: left;width: 27px; height: 27px; background: url(../images/tv_icon01.png) no-repeat; margin: 10px 5px 0 5px;}
			.tv_icon02{float: left;width: 27px; height: 27px; background: url(../images/tv_icon02.png) no-repeat; margin: 10px 5px 0 5px;}
			.tv_icon03{float: left;width: 27px; height: 27px; background: url(../images/tv_icon03.png) no-repeat; margin: 10px 5px 0 5px;}
			.tv_icon04{float: left;width: 27px; height: 27px; background: url(../images/tv_icon04.png) no-repeat; margin: 10px 5px 0 5px;}
			
		.notice_slide3{float: left; width: 299px; height: 324px; background: #ffffff; padding: 13px 0px 28px 33px; border-left: 2px dotted #dedede; }
			.basic_notice_box{width: 274px; height: 160px; border: 1px solid #efefef; margin-bottom: 15px; padding: 10px;}
			.basic_notice_bar{height: 30px; margin-bottom: 20px; border-bottom: 1px solid #efefef;}
			.basic_notice_bar > ul > li{float: left; width: 12%; line-height: 16px;}
			.basic_notice_bar > ul > li:nth-child(5){width: 25%;}
			.basic_notice_bar > ul > li > a{color: #666666; font-size: 14px; text-align: center;}
			.basic_notice_bar > ul > li > a:hover{text-decoration: underline;}
			.basic_notice_bar > ul > li.bar{width: 6%; margin-left: 7px; color: #cccccc;}
			.basic_notice_bar > ul > li.basic_notice_more{float: right; width: 24px; height: 24px; background: url(../images/more.png) no-repeat 8px 2px;}
			.basic_notice_bar > ul > li > a.active{padding-bottom: 10px; border-bottom: 3px solid #647ec3;}
			.notice_slide3 > .basic_notice_box > .basic_notice_con > div > ul > li.bullet{background:url(../images/bullet.png) no-repeat 12px center; line-height: 26px; padding-left: 20px;}
			.notice_slide3 > .basic_notice_box > .basic_notice_con > div > ul > li.bullet > a{display: block; width: 244px; color: #666666; overflow: hidden; white-space: nowrap; text-overflow : ellipsis; font-weight: normal;}
			.notice_slide3 > .basic_notice_box > .basic_notice_con > div > ul > li.bullet > a:hover{text-decoration: underline;}
			
			.slide3{float: left; width: 294px; height: 120px; border: 1px solid #efefef; position: relative; overflow: hidden; box-sizing: border-box;}
			.slide3_panel{width: 1184px; height: 120px; position: relative;}
			.slide3_panel >a{display:block; width: 294px; height: 120px; float: left;}
			.slide3_image{float: left; width: 294px; height: 120px; display:block;}
		
			.slide3_ctrl_btn{position: absolute; right: 0; bottom: 0; z-index: 3; height: 30px; font-size: 14px; line-height: 30px; box-sizing: border-box; background: rgba(0, 0, 0, 0.4); padding-left: 10px;}
			.slide3_ctrl_btn .btn_pageNum3{color: #ffffff; border-right: 1px solid #cccccc; padding-right: 10px;}
			.slide3_ctrl_btn .btn_left3{width: 30px; height: 30px; background: url(../images/visualCtrl_prev.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide3_ctrl_btn .btn_stop3{width: 30px; height: 30px; background: url(../images/visualCtrl_stop.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide3_ctrl_btn .btn_start3{width: 30px; height: 30px; background: url(../images/visualCtrl_start.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			.slide3_ctrl_btn .btn_right3{width: 30px; height: 30px; background: url(../images/visualCtrl_next.png) no-repeat 11px 11px; border-right: 1px solid #cccccc; cursor: pointer;}
			
	#center_contents{float: left; width: 1354px; height: 767px; padding: 33px; margin-bottom: 33px; background: #ffffff;}
		.content_icon_wrap{float: left; width: 1352px; height: 150px; background-color: #ffffff; margin-bottom: 21px; border: 1px solid #cccccc;}
			.content_icon_wrap > a{float: left; display: block; padding-top: 90px; width: 11.11%; text-align: center; color: #666666; margin-top: 10px;}
			.content_icon_wrap > a:hover{text-decoration: underline;}
			.con_Icon1{display: block; width: 90px; height: 90px; background: url(../images/infoIcon01.png) no-repeat center 0; padding-top: 20px;}
			.con_Icon2{display: block; width: 90px; height: 90px; background: url(../images/infoIcon02.png) no-repeat center 0;}
			.con_Icon3{display: block; width: 90px; height: 90px; background: url(../images/infoIcon03.png) no-repeat center 0;}
			.con_Icon4{display: block; width: 90px; height: 90px; background: url(../images/infoIcon04.png) no-repeat center 0;}
			.con_Icon5{display: block; width: 90px; height: 90px; background: url(../images/infoIcon05.png) no-repeat center 0;}
			.con_Icon6{display: block; width: 90px; height: 90px; background: url(../images/infoIcon06.png) no-repeat center 0;}
			.con_Icon7{display: block; width: 90px; height: 90px; background: url(../images/infoIcon07.png) no-repeat center 0;}
			.con_Icon8{display: block; width: 90px; height: 90px; background: url(../images/infoIcon08.png) no-repeat center 0;}
			.con_Icon9{display: block; width: 90px; height: 90px; background: url(../images/infoIcon09.png) no-repeat center 0;}
		.recent_election1{float: left; width: 270px; height: 299px; padding: 26px; background: #059fa9; margin: 0 20px 23px 0;}
			.recent_election1>h3{font-size: 20px; color: #ffffff; text-align: center; margin-bottom: 15px;}
			.recent_election1>ul>li{height: 32px; border-bottom: 1px solid #cccccc; margin-bottom: 10px;}
			.recent_election1>ul>li>a{display: block; font-size: 16px; line-height: 32px; color: #ffffff; background: url(../images/electionList_bullet.png) no-repeat right center; margin-left: 15px; }
			.recent_election1>ul>li>a:hover{text-decoration: underline;}
		.recent_election2{float: left; width: 290px; height: 309px; background: #ffffff; margin: 0 20px 23px 0; padding: 20px 15px; border: 1px solid #cccccc;}
			.recent_election2 > ul.recent_election2_bar{width: 100%; height: 40px; margin-bottom: 20px;}
			.recent_election2 > ul.recent_election2_bar > li{float : left; font-size: 12px; line-height: 40px;}
			.recent_election2 > ul.recent_election2_bar > .lower{font-size: 14px; line-height: 42px; color: #666666;}
			.recent_election2 > ul.recent_election2_bar > li > h3{font-size: 20px; line-height: 40px; color: #666666;}
			.recent_election2 > ul.recent_election2_bar > li.bar{font-size: 12px; color: #cccccc; padding: 0 10px;}
			.recent_election2 > .election_box{float: left; display: block; width: 142px; height: 110px; margin-bottom: 30px; padding-right: 2px;}
			.recent_election2 > .down{margin-bottom: 0px;}
			.recent_election2 > .election_box > p.title{display: block; width: 100%; height: 34px; line-height: 34px; margin-bottom: 5px; text-align: center; background: #706d71; color: #ffffff; font-weight: normal;}
			.recent_election2 > .election_box > ul > li{background: url(../images/bullet.png) no-repeat left center; padding-left: 10px; margin-left: 5px; font-weight: normal;}
			.recent_election2 > .election_box > ul > li > a{color: #666666;}
			.recent_election2 > .election_box > ul > li > a:hover{text-decoration: underline;}
			
			#countment{margin-top: 20px; margin-bottom: 5px;}
			.counter{display:inline-block; padding-left: 19px;}
			.counter ul li{position: relative;margin-left:5px;}
			.counter ul li.firstli{margin-left:0px;}
			.counter ul li p{position: absolute;  color:#ffffff; text-align:center; padding-top: 30px; padding-left: 10px;}
			.counter ul li p.firstp{padding-left: 30px;}

			
		.all_of_election{float: left; width: 290px; height: 309px; background: #ffffff; margin: 0 20px 23px 0; padding: 20px 15px; border: 1px solid #cccccc;}
			ul.all_election_bar{width: 100%; height: 40px; margin-bottom: 20px;}
			.all_of_election > ul.all_election_bar  > li > h3{font-size: 20px; line-height: 40px; color: #666666;}
			.all_of_election > .all_election_box{float: left; display: block; width: 142px; height: 110px; margin-bottom: 30px; padding-right: 2px;}
			.all_of_election > .all_election_box >p.title{display: block; width: 100%; height: 34px; line-height: 34px; margin-bottom: 5px; text-align: center; background: #706d71; color: #ffffff; font-weight: normal;}
			.all_of_election > .all_election_box > ul > li{background: url(../images/bullet.png) no-repeat left center; padding-left: 10px; margin-left: 5px; font-weight: normal;}
			.all_of_election > .all_election_box > ul > li > a{color: #666666;}
			.all_of_election > .all_election_box > ul > li > a:hover{text-decoration: underline;}
			
		.overseas_election{float: left; width: 270px; height: 299px; background: #059fc0; margin: 0 0 23px 0; padding: 26px;}
			.overseas_election>h3{font-size: 20px; color: #ffffff; text-align: center; margin-bottom: 15px;}
			.overseas_election>ul>li{height: 32px; border-bottom: 1px solid #cccccc; margin-bottom: 10px;}
			.overseas_election>ul>li>a{display: block; font-size: 16px; line-height: 32px; color: #ffffff; background: url(../images/electionList_bullet.png) no-repeat right center; margin-left: 15px; }
			.overseas_election>ul>li>a:hover{text-decoration: underline;}
		.manifesto{float: left; width: 304px; height: 196px; background: #dddddd; margin-right: 20px; padding: 15px 10px;}
			.manifesto > h3{font-size: 20px;  padding: 31px 0 31px 85px; font-weight: normal; margin: 10px 0 20px; color: #037175;}
			.manifesto > h3.manifesto_title{background: url(../images/infoTitle01.png) no-repeat 10px center;}
			.manifesto > ul > li{display: block; float: left; width: 49%; line-height: 35px; padding: 0 3px 3px 0;}
			.manifesto > ul > li > a{display: block; letter-spacing: -1px; padding-left: 5px; background: #ffffff url(../images/infoLink_bullet.png) no-repeat 95% center; color: #666666; overflow: hidden; white-space: nowrap; font-weight: normal; }
			.manifesto > ul > li > a:hover{text-decoration: underline;}
		.party_fund{float: left; width: 304px; height: 196px; background: #dddddd; margin-right: 20px; padding: 15px 10px;}
			.party_fund > h3{font-size: 20px;  padding: 31px 0 31px 85px; font-weight: normal; margin: 10px 0 20px; color: #006c83;}
			.party_fund > h3.party_fund_title{background: url(../images/infoTitle02.png) no-repeat 10px center;}
			.party_fund > ul > li{display: block; float: left; width: 49%; line-height: 35px; padding: 0 3px 3px 0;}
			.party_fund > ul > li > a{display: block; letter-spacing: -1px; padding-left: 5px; background: #ffffff url(../images/infoLink_bullet.png) no-repeat 95% center; color: #666666; overflow: hidden; white-space: nowrap; font-weight: normal; }
			.party_fund > ul > li > a:hover{text-decoration: underline;}
		.election_law{float: left; width: 303px; height: 196px; background: #dddddd; margin-right: 20px; padding: 15px 10px;}
			.election_law > h3{font-size: 20px;  padding: 31px 0 31px 85px; font-weight: normal; margin: 10px 0 20px; color: #518200;}
			.election_law > h3.election_law_title{background: url(../images/infoTitle03.png) no-repeat 10px center;}
			.election_law > ul > li{display: block; float: left; width: 49%; line-height: 35px; padding: 0 3px 3px 0;}
			.election_law > ul > li > a{display: block; letter-spacing: -1px; padding-left: 5px; background: #ffffff url(../images/infoLink_bullet.png) no-repeat 95% center; color: #666666; overflow: hidden; white-space: nowrap; font-weight: normal; }
			.election_law > ul > li > a:hover{text-decoration: underline;}
		.election_data{float: left; width: 303px; height: 196px; background: #dddddd; padding: 15px 10px;}
			.election_data > h3{font-size: 20px;  padding: 31px 0 31px 85px; font-weight: normal; margin: 10px 0 20px; color: #8e5d00;}
			.election_data > h3.election_data_title{background: url(../images/infoTitle04.png) no-repeat 10px center;}
			.election_data > ul > li{display: block; float: left; width: 49%; line-height: 35px; padding: 0 3px 3px 0;}
			.election_data > ul > li > a{display: block; letter-spacing: -1px; padding-left: 5px; background: #ffffff url(../images/infoLink_bullet.png) no-repeat 95% center; color: #666666; overflow: hidden; white-space: nowrap; font-weight: normal; }
			.election_data > ul > li > a:hover{text-decoration: underline;}
	#bot_contents{float: left; width: 1354px; height: 546px; padding: 33px; margin-bottom: 63px; background: #ffffff;}
		#promotion_wrap{float:left; width: 1354px; height: 376px; position: relative; overflow: hidden; margin: 0 auto; margin-bottom: 30px;}
		
			.p_title{width: 322px; height: 38px; background: #323c52; color: #ffffff; text-align: center; font-size: 18px; line-height: 38px; transition:all 0s;}
			.promo_box_bar{float: left; width: 260px; height: 36px; font-size: 14px; line-height: 36px; border-radius:10px; text-align: center; margin: 4px 30px;  border: 2px solid #323c52; box-sizing: border-box; transition: all 0.8s;}
		
			.promo_box1{width: 322px; height: 376px; background: #ffffff; overflow:hidden; position: absolute; box-sizing:border-box; clear: both; margin-right: 23px; border: 2px solid #323c52; border-left: 0;}
			.promo_box1_theme{width: 322px; height: 376px; float: left; box-sizing: border-box; transition: all 0s; text-align: center; overflow: hidden; clear:both;  border: 2px solid #323c52;}
			.promo_box1_contentsImg{float: left; width: 1032px; overflow:hidden; box-sizing: border-box; position: absolute; left: 322px; top: 0; height: 376px; transition: all 0s;}
			.promo_box1_contentsImg p{margin-top: 15px; font-size: 16px; color: #323c52;}
			.promo_box1_content1{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 22px;}
			.promo_box1_content2{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 22px;}
			.promo_box1_content3{width: 344px; height: 376px; box-sizing: border-box; padding: 22px;}
			
			
			
			.promo_box2{width: 322px; height: 376px; background: #ffffff; overflow:hidden; position: absolute; box-sizing:border-box; clear: both; left: 345px; margin-right: 23px; text-align: center; border: 2px solid #323c52; border-left: 0;}
			.promo_box2_theme{width: 322px; height: 376px; float: left; box-sizing: border-box; transition: all 0s; text-align: center; overflow: hidden; clear:both;  border: 2px solid #323c52;}
			.promo_box2_contentsImg{float: left; width: 1032px; overflow:hidden; box-sizing: border-box; position: absolute; left: 322px; top: 0; height: 376px; transition: all 0s;}
			.promo_box2_contentsImg p{margin-top: 15px; font-size: 16px; color: #323c52;}
			.promo_box2_content1{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 22px;}
			.promo_box2_content2{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 22px;}
			.promo_box2_content3{width: 344px; height: 376px; box-sizing: border-box; padding: 22px;}
			
			.promo_box3{width: 322px; height: 376px; background: #ffffff; overflow:hidden; position: absolute; box-sizing:border-box; clear: both; margin-right: 23px; right: 322px; text-align: center; border: 2px solid #323c52; border-left: 0;}
			.promo_box3_theme{width: 322px; height: 376px; float: left; box-sizing: border-box; transition: all 0s; text-align: center; overflow: hidden; clear:both;  border: 2px solid #323c52;}
			.promo_box3_theme iframe{margin-top: 10px; margin-bottom: 10px;}
			.promo_box3_contentsImg{float: left; width: 1032px; overflow:hidden; box-sizing: border-box; position: absolute; left: 322px; top: 0; height: 376px; transition: all 0s;}
			.promo_box3_contentsImg p{margin-top: 15px; font-size: 16px; color: #323c52;}
			.promo_box3_content1{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 42px 22px 22px 22px;}
			.promo_box3_content2{width: 344px; height: 376px; box-sizing: border-box; border-right: 1px dashed #666666; padding: 42px 22px 22px 22px;}
			.promo_box3_content3{width: 344px; height: 376px; box-sizing: border-box; padding: 42px 22px 22px 22px;}
			
			.promo_box4{width: 322px; height: 376px; background: #ffffff; overflow:hidden; position: absolute; box-sizing:border-box; clear: both; margin-right: 23px; right: -23px; border: 2px solid #323c52; border-left: 0; text-align: center;}
			.promo_box4_theme{width: 322px; height: 376px; float: left; box-sizing: border-box; transition: all 0s; text-align: center; overflow: hidden; clear:both;  border: 2px solid #323c52;}
			.weather_title{margin-top: 15px; font-size: 18px;}
			.weather_content{font-size: 18px; text-align: justify; margin-left: 30px; float:left; line-height: 1.3;}
			.kTemp, .cTemp, .tTemp, .sTemp{background: url(../images/temp.png) no-repeat left center; background-size: 24px 24px; padding-left: 30px;}
			.kHumi, .cHumi, .sHumi, .tHumi{background: url(../images/humi.png) no-repeat left center; background-size: 24px 24px; padding-left: 30px;}
			.kDeg, .cDeg, .tDeg, .sDeg{background: url(../images/wind.png) no-repeat left center; background-size: 24px 24px; padding-left: 30px;}
			.kPm25, .cPm25, .tPm25, .sPm25{margin-left: 15px;}
			.kPm10, .cPm10, .tPm10, .sPm10{margin-left: 40px;}
			.promo_box4_contentsImg{float: left; width: 1032px; overflow:hidden; box-sizing: border-box; position: absolute; left: 322px; top: 0; height: 376px; transition: all 0s;}
			.promo_box4_content1{width: 344px; height: 376px; box-sizing: border-box; border-right: 2px solid #323c52;}
			.promo_box4_content1 .p_title{box-sizing: border-box; width: 100%; height: 91.5px; font-size: 25px; background: #323c52; line-height: 91.5px; }
			.promo_box4_content2 .p_title{box-sizing: border-box; width: 100%; height: 91.5px; font-size: 25px; background: #323c52; line-height: 91.5px; }
			.promo_box4_content3 .p_title{box-sizing: border-box; width: 100%; height: 91.5px; font-size: 25px; background: #323c52; line-height: 91.5px; }
			.promo_box4_content2{width: 344px; height: 376px; box-sizing: border-box; border-right: 2px solid #323c52;}
			.promo_box4_content3{width: 344px; height: 376px; box-sizing: border-box;}
		
		.nec_publish{float: left; width: 322px; height: 151px; background: #ffffff; margin-right: 23px;}
			.nec_publish > a > .nec_publish_icon{float: left; display: block; width: 75px; height: 75px; background: url(../images/promotionLink_icon01.png) no-repeat; margin-left: 30px; margin-top: 38px;}
			.nec_publish > a > span{display: block; float: right; margin-right: 120px; padding-top: 61px; font-size: 20px; color: #ffffff; font-weight: normal;}
			.nec_publish > a > span:hover{text-decoration: underline;}
			.nec_publish > .nec_publish_bg{display: block; width: 142px; height: 151px; padding-left: 180px; background: #69a517 url(../images/promotionLink01_bg.png) no-repeat right center;}
			.nec_publish > .nec_publish_bg > .nec_publish_arrow{display: block; width: 26px; height: 26px; background: url(../images/promotionLink_arrow.png) no-repeat right center; padding-left: 80px; padding-top : 123px;}
		.nec_infographic{float: left; width: 322px; height: 151px; background: #ffffff; margin-right: 22px;}
			.nec_infographic > a > .nec_infographic_icon{float: left; display: block; width: 75px; height: 75px; background: url(../images/promotionLink_icon02.png) no-repeat; margin-left: 30px; margin-top: 38px;}
			.nec_infographic > a > span{display: block; float: right; margin-right: 90px; padding-top: 61px; font-size: 20px; color: #ffffff; font-weight: normal;}
			.nec_infographic > a > span:hover{text-decoration: underline;}
			.nec_infographic > .nec_infographic_bg{display: block; width: 142px; height: 151px; padding-left: 180px; background: #a68e63;}
			.nec_infographic > .nec_infographic_bg > .nec_infographic_arrow{display: block; width: 26px; height: 26px; background: url(../images/promotionLink_arrow.png) no-repeat right center; padding-left: 80px; padding-top : 123px;}
		.nec_image{float: left; width: 322px; height: 151px; background: rgba(25, 25,25, 0.5); margin-right: 20px;}
			.nec_image > a > .nec_image_icon{float: left; display: block; width: 75px; height: 75px; background: url(../images/promotionLink_icon03.png) no-repeat; margin-left: 30px; margin-top: 38px;}
			.nec_image > a > span{display: block; float: right; margin-right: 115px; padding-top: 61px; font-size: 20px; color: #ffffff; font-weight: normal;}
			.nec_image > a > span:hover{text-decoration: underline;}
			.nec_image > .nec_image_bg{display: block; width: 142px; height: 151px; padding-left: 180px; background: #1ea59a url(../images/promotionLink03_bg.png) no-repeat right center;}
			.nec_image > .nec_image_bg > .nec_image_arrow{display: block; width: 26px; height: 26px; background: url(../images/promotionLink_arrow.png) no-repeat right center; padding-left: 80px; padding-top : 123px;}
		.nec_issue{float: left; width: 322px; height: 151px; background: rgba(25, 25,25, 0.5);}
			.nec_issue > a > .nec_issue_icon{float: left; display: block; width: 75px; height: 75px; background: url(../images/promotionLink_icon04.png) no-repeat; margin-left: 30px; margin-top: 38px;}
			.nec_issue > a > span{display: block; float: right; margin-right: 115px; padding-top: 61px; font-size: 20px; color: #ffffff; font-weight: normal;}
			.nec_issue > a > span:hover{text-decoration: underline;}
			.nec_issue > .nec_issue_bg{display: block; width: 142px; height: 151px; padding-left: 180px; background: #8c919e;}
			.nec_issue > .nec_issue_bg > .nec_issue_arrow{display: block; width: 26px; height: 26px; background: url(../images/promotionLink_arrow.png) no-repeat right center; padding-left: 80px; padding-top : 123px;}
			
	#sec_ctrl_bar{position: fixed; top: 50%; right: 0; margin-top: -90px; width: 85px;}
		#sec_ctrl_bar li a{display: block; box-sizing:border-box; width: 85px; height: 90px; padding-top: 45px; z-index:2;}
		#sec_ctrl_bar li a:hover{text-decoration: underline;}
		#sec_ctrl_bar li a span{position: absolute; display: block; font-size: 17px; font-weight: bold; text-align: center; margin-top: -50%; margin-left: 30%;}
		
	.quick_toggle{position: fixed; top: 39%; left: 0; width: 42px; height: 42px; background: url(../images/quick_close.png) no-repeat; background-size: 42px 42px; display: block; cursor: pointer;}
	.quick_open{position: fixed; top: 39%; left: 0; width: 42px; height: 42px; background: url(../images/quick_open.png) no-repeat; background-size: 42px 42px; display: block; cursor: pointer;}
	.quick_menu{position: fixed; top: 45%; left: 0px; background: #f3fbff; box-shadow: 0 0 6px #777777; z-index: 1000;}
	
	#pop_wrap{position: absolute; top: 220px; left: 100px; z-index: 99999999; display: none; box-shadow: 0 0 4px #555555;}
		