*{margin:0; padding:0;}
a{color: #666666;}
/* body{background:url(../images/nec_Board2.png) no-repeat center top; height: 5000px;} */
.right{float: right; font: 0.9em; color: #777777; font-weight: normal;}

#wrapper{width: 100%; height: 1799px; background: #e0f3fa; margin-top:4px;}
#container{margin: 0 auto; width: 1420px; height: 1799px; text-align: justify; margin-top: 2px;}
	.asidewrap{display:block; float: left; width: 298px; height: 1652px; margin : 38px 10px 0px 33px;}
		.aside1{display:block; float:left; width: 298px; height: auto;  background: #ffffff; margin-bottom:8px; overflow: hidden; position: relative;}
		.aside1 .aside1_subj{padding: 25px 30px; background: #008d96 url(../../images/bg_lnbTit.png) no-repeat 35px bottom; font-size: 2.1em; color: #ffffff; font-weight: bold; letter-spacing: -1px;}
		.aside1 .sidewrap{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu .title{width: 280px; height: 60px; display: block; font-size: 1.1em; line-height: 60px; padding-left: 18px; color: #666666; border-bottom: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu{display: none; overflow: hidden; height: auto; transition: all 1s;}
		.aside1 .sidewrap .sidemenu.on span{color: #ffffff; background: #537c8e;}
		.aside1 .sidewrap .sidemenu.on .subsidemenu{display: block;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent{padding: 10px 20px; box-sizing: border-box; padding: 10px 20px; width: 100%; height: 100%; background: #fcfcfc; overflow: hidden; transition: all 0.6s; border-top: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li{line-height: 25px; font-size: 1em;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li.on a{color: #071739; font-weight: bold;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li a{color: #666666;}
		
		.aside2{display: block; background: #ffffff; float:left; width: 274px; height: 213px; margin-bottom:10px; padding: 12px;}
		.aside2 h3{text-align: left; font-size: 14px; margin-bottom: 12px;}
		

		.tab{overflow: hidden;}
		.aside2>.tab_wrap>.tab> ul li{float: left; width: 130px; height: 30px; line-height: 30px; border: 1px solid #999999; background: #f5f6fa; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; font-weight: normal; margin-bottom: 20px;}
		
		.aside2>.tab_wrap>.tab> ul li a.active{color: #ed63ac; text-decoration: underline; font-weight: bold;}
		
		.aside2 .tab_content ul li a{float: left; display: block; width: 260px; font-size: 0.9em; text-align: left; color: #666666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing: -1px; line-height: 2.1;}
		.aside2 .tab_content ul li a:hover{text-decoration: underline;}
		.aside2 .tab_content ul li a .bullet_num{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #333333; text-align: center; float:left;}
		.aside2 .tab_content ul li a .bullet_num_pink{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #ed63ac; text-align: center; float:left;}
		
		.aside3{display: block; background: #ffffff; float:left; width: 282px; height: 319px; margin-bottom:8px; padding: 8px;}
		.aside3 h3{font-size: 22px; text-align: center; margin-bottom: 15px;}
		.aside3 ul li{display: block; height: 38px; background: #e2e4e9 url(../../images/bullet.png) no-repeat 8px 20px; padding-left: 15px; margin-bottom: 5px; line-height: 40px; font-weight: normal;}
		.aside3 ul li a:hover{text-decoration: underline;}
		
		
		.aside3{display: block; background: #ffffff; float:left; width: 282px; height: 319px; margin-bottom:8px; padding: 8px;}
		.aside3 h3{font-size: 22px; text-align: center; margin-bottom: 15px;}
		.aside3 ul li{display: block; height: 38px; background: #e2e4e9 url(../../images/bullet.png) no-repeat 8px 20px; padding-left: 15px; margin-bottom: 5px; line-height: 40px; font-weight: normal;}
		.aside3 ul li a:hover{text-decoration: underline;}
		
	/* 본문 1 */
	.article1{display: block; float:right; width: 1044px; height: 1369px; margin-right: 32px; margin-top: 38px; background: #ffffff;}
		/* 메뉴 */
		.menulog{display:block; width: 990px; height: 25px; border-bottom: 2px solid #444444; margin: 0 auto; padding-top: 20px;}
			.homeIcon{display: block; width: 24px; height: 24px;  float:left; background:url(../images/bu_home.gif)  no-repeat center left; cursor: pointer;}
				.location{ font-size:0.8em; color: #666666;}
				.print_btn{display:block; float:right; width: 24px; height: 24px; background: url(../images/print.gif) no-repeat center right; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../images/sns_facebook.gif) no-repeat center right; cursor:pointer; margin-left: 5px;}
				.sns_k{display:block; float:right; width: 24px; height: 24px; background: url(../images/sns_kakao.gif) no-repeat center right; cursor:pointer;}
				.sns_t{display:block; float:right; width: 24px; height: 24px; background: url(../images/sns_twitter.gif) no-repeat center right; cursor:pointer;}
				.sns_n{display:block; float:right; width: 24px; height: 24px; background: url(../images/sns_blog.gif) no-repeat center right; cursor:pointer; margin-right: 5px;}
				.like_btn{display:block; float: right; width: 70px; height: 24px; background:url(../images/sns_good.gif) no-repeat right center; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../images/sns_facebook.gif) no-repeat center right; cursor:pointer;}
			/* 게시판 정보 */
			.info_bbs{display: block; width: 900px; padding-left: 26px;}
				.info_bbs > span{font-weight: normal; color: #444444;}
				.info_bbs > .mark_p{font-weight: bold; color: #ed63ac;}
			/* 서치박스 */
			.search_bbs_box{display:block; width: 990px; height: 50px; margin-left: 26px; background-color:#e8e9ed; margin-top : 15px; margin-bottom: 15px;}
				
				.cal_f, .cal_b{background: url(../images/calendar.gif) no-repeat; width: 189px; height: 43px; margin-left: 5px; border: 0; vertical-align: 10px; margin-top: 3px; text-align: center; color: #444444;}
				.midk{vertical-align: 8px;}
				.sel_t{background: #ffffff; width: 142px; height: 39px; vertical-align: 8px; border: 0px; text-align: center; color: #444444;}
				.search_cont{width:287px; height:39px;vertical-align: 8px; border:0; padding-left: 10px; box-sizing: border-box;} 
				.btn_search{vertical-align: -4px;}
				.btn_ref{vertical-align: -5px;}
			
			/* 게시판 글, 페이지 확인 */
			.icon_sch{background: url(../images/ico_sch.png) left 55% no-repeat; float : left; margin: 0 0 15px 26px; padding-left: 17px; font-weight: normal; color: #444444;}
			
				.icon_sch>.imp_p{font-weight: bold; color: #ed63ac;}
				
			/* bbs_list */
			.bbs_list .b_title{background: #ffffff; margin: 2% 2% 0 2%; border: 2px solid #dbdce0; overflow: hidden; padding: 1.2em; color: #444444; font-weight: normal;}
			.bbs_list .b_title.closed{cursor: pointer;}
			.bbs_list .b_title:hover{border: 2px solid #ffbfef; text-decoration: underline;}
			
			

			/* bbs_content */
				.bbs_list .content_wrap{height: auto; width: 96%; text-align: left; padding: 0% 0 0 2%; border: 0;}
				.bbs_list .content_wrap.closed{display:none;}
				.content_wrap>.c_subject{text-align: justify; font-weight: bold; font-size: 16px; background: #dfdfdf; padding: 10px 20px; line-height: 26px; border-left: 1px solid #dbdce0; border-right: 1px solid #dbdce0;}
				.content_wrap>.c_content{text-align: justify; padding: 10px 20px; background: #ffffff; border-bottom: 1px solid #dddddd; border-left: 1px solid #dbdce0; 
				border-right: 1px solid #dbdce0;}

			/* bbs_write*/
			.bbs_write{float:right; margin: 2% 2.15% 0 0;}
			.btn_write{float: right; border: none; background: #ed63ac; width: 80px; height: 10px; padding: 5px  2px 15px 2px; }
			.bbs_write a{display:block; float:left; background: url(../../images/ico_w_pen.png) no-repeat 3px 4px; text-align: right; color: #ffffff; padding-left: 20px;}
				
			/* 페이지번호 */
				.page{display:block; width: 375.6px; float: left; margin: 55px 0 0 340px;}
				/* 가운데 정렬을 위해서 float: left와 함께 top left 50%씩 설정 */
				.page > div{float: left; padding: 2px 10px; margin: 0 10px; cursor: pointer;}
				/* -50%와 마진, 패딩으로 글씨의 자간을 조정해줌 */
				.page > .active{cursor: pointer; color: red; font-weight: bold;}
				.prev, .next{text-indent: -55555px;}
				.prev{background: url(../images/paging_prev.png) no-repeat center center; background-size: 7px;}
				.next{background: url(../images/paging_next.png) no-repeat center center; background-size: 7px;}

	.article2{display: block; float:right; width: 983px; height: 238px; margin-right: 32px; margin-top: 10px;  background: #ffffff; padding: 14px 30px;}
		.satisfied{padding: 18px 0;}
		.article2 h3{font-size: 14px; font-weight: normal; background: url(../../images/ico_caution.png) no-repeat left 4px; padding-left: 15px; margin-bottom: 5px;}
		.satis_box{border: 1px solid #dddddd; background: #e2e2e2; padding: 20px 20px 30px 20px; height: 30px;}
		.satis_box > p{float: left; display: block; line-height: 40px; margin-right: 10px;}
		.radio_Box{float: left; padding: 10px; background: #ffffff;}
		.satis_box .radio_Box input#confidence1 + label span{float: left; background: url(../../images/star3.gif) no-repeat 5px top; padding-left: 70px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence1{width: 20px; height: 20px; display: block; float:left;}
		.satis_box .radio_Box input#confidence2 + label span{float: left; background: url(../../images/star2.gif) no-repeat 5px center; padding-left: 50px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence2{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence3 + label span{float: left; background: url(../../images/star1.gif) no-repeat 5px center; padding-left: 30px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence3{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence4{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence4 + label span{float: left; padding-left: 10px; padding-right: 250px;}
		.btn_confidence{float:left; display: block; background: #474a5b; padding: 10px; height: 20px;}
		.btn_confidence .pen{color: #ffffff; padding-left: 25px; background: url(../../images/ico_w_pen.png) no-repeat 2px 4px;}
		.volume_call{float:left; width: 100%; font-size: 12px; font-weight: normal; margin-bottom: 10px;}
		.page_que{margin-top: 10px;}
		.page_que > p{float:left; background: url(../../images/ico_caution.png) no-repeat left 4px; padding-left: 15px; font-weight: normal; width: 100%;}
		.page_que li{display: block; background: #f2f2f2; border: 1px solid #cccccc; float:left; margin-top:5px; margin-right:5px; padding: 5px 10px 5px 10px; font-weight:normal; color: #666666;}