*{margin:0; padding:0;}
a{color: #666666;}
/* body{background:url(../images/nec_login.png) no-repeat center top; height: 5000px;} */
#wrapper{width: 100%; height: 1420px; background: #e0f3fa; margin-top:4px;}
#container{margin: 0 auto; width: 1420px; height: 1329px; text-align: justify; padding-top : 18px;}
	.asidewrap{display:block; float: left; width: 298px; height: 1252px; margin : 38px 10px 0px 33px;}
		.aside1{display:block; float:left; width: 298px; height: auto;  background: #ffffff; margin-bottom:8px; overflow: hidden; position: relative;}
		.aside1 .aside1_subj{padding: 25px 30px; background: #008d96 url(../../images/bg_lnbTit.png) no-repeat 35px bottom; font-size: 2.1em; color: #ffffff; font-weight: bold; letter-spacing: -1px;}
		.aside1 .sidewrap{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu .title{width: 280px; height: 60px; display: block; font-size: 1.1em; line-height: 60px; padding-left: 18px; color: #666666; border-bottom: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu{display: none; overflow: hidden; height: auto; transition: all 1s;}
		.aside1 .sidewrap .sidemenu.on span{color: #ffffff; background: #ed63ac;}
		.aside1 .sidewrap .sidemenu.on .subsidemenu{display: block;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent{padding: 10px 20px; box-sizing: border-box; padding: 10px 20px; width: 100%; height: 100%; background: #fcfcfc; overflow: hidden; transition: all 0.6s; border-top: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li{line-height: 25px; font-size: 1em;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li.on a{color: #ed63ac; font-weight: bold;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li a{color: #666666;}
		
		.aside2{display: block; background: #ffffff; float:left; width: 274px; height: 213px; margin-bottom:10px; padding: 12px;}
		.aside2 h3{text-align: left; font-size: 14px; margin-bottom: 12px;}
		

		.tab{overflow: hidden;}
		.aside2>.tab_wrap>.tab> ul li{float: left; width: 130px; height: 30px; line-height: 30px; border: 1px solid #999999; background: #f5f6fa; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; font-weight: normal; margin-bottom: 20px;}
		
		.aside2>.tab_wrap>.tab> ul li a.active{color: #ed63ac; text-decoration: underline; font-weight: bold;}
		
		.aside2 .tab_content ul li a{float: left; display: block; width: 260px; font-size: 0.9em; text-align: left; color: #666666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing: -1px; line-height: 2.1;}
		.aside2 .tab_content ul li a:hover{text-decoration: underline;}
		.aside2 .tab_content ul li a .bullet_num{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #333333; text-align: center; float:left;}
		.aside2 .tab_content ul li a .bullet_num_pink{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #ed63ac; text-align: center; float:left;}
		
		.aside3{display: block; background: #ffffff; float:left; width: 282px; height: 319px; margin-bottom:8px; padding: 8px;}
		.aside3 h3{font-size: 22px; text-align: center; margin-bottom: 15px;}
		.aside3 ul li{display: block; height: 38px; background: #e2e4e9 url(../../images/bullet.png) no-repeat 8px 20px; padding-left: 15px; margin-bottom: 5px; line-height: 40px; font-weight: normal;}
		.aside3 ul li a:hover{text-decoration: underline;}
		
		.aside3{display: block; background: #ffffff; float:left; width: 282px; height: 319px; margin-bottom:8px; padding: 8px;}
		.aside3 h3{font-size: 22px; text-align: center; margin-bottom: 15px;}
		.aside3 ul li{display: block; height: 38px; background: #e2e4e9 url(../../images/bullet.png) no-repeat 8px 20px; padding-left: 15px; margin-bottom: 5px; line-height: 40px; font-weight: normal;}
		.aside3 ul li a:hover{text-decoration: underline;}
	.article1{display: block; float:right; width: 1044px; height: 820px; margin-right: 32px; margin-top: 38px; background: #ffffff;}
	.menulog{display:block; width: 990px; height: 25px; border-bottom: 2px solid #444444; margin: 0 auto; padding-top: 20px; margin-bottom: 20px;}
			.homeIcon{display: block; width: 24px; height: 24px;  float:left; background:url(../../images/bu_home.gif)  no-repeat center left; cursor: pointer;}
				.location{font-size:0.8em; color: #666666;}
				.print_btn{display:block; float:right; width: 24px; height: 24px; background: url(../../images/print.gif) no-repeat center right; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_facebook.gif) no-repeat center right; cursor:pointer; margin-left: 5px;}
				.sns_k{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_kakao.gif) no-repeat center right; cursor:pointer;}
				.sns_t{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_twitter.gif) no-repeat center right; cursor:pointer;}
				.sns_n{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_blog.gif) no-repeat center right; cursor:pointer; margin-right: 5px;}
				.like_btn{display:block; float: right; width: 70px; height: 24px; background:url(../../images/sns_good.gif) no-repeat right center; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_facebook.gif) no-repeat center right; cursor:pointer;}
	.article1 > h4{float: left; width: 100%; background: url(../../images/bu_tit1.gif) no-repeat left 2px; margin-top: 10px; margin-bottom: 10px; float: left; padding-left: 10px; margin-left: 27px;}
	.loginBox{float: left; width: 880px; padding: 13px 26px; height: 150px; border: 1px solid #999999; border-top: 2px solid #333333; margin-left: 54px;}
	.loginBox .log_box{float:left; padding: 0 140px; width: 550px;}
	.article1 > ul{float:left; width: 934px; margin-left: 54px;}
	.article1 > ul > li{float:left; margin-top: 5px; background: url(../../images/bu_pink.gif) no-repeat left 8px; padding-left: 10px; font-weight: normal;}
	.article1 > ul li.authBox{float: left; background: #ffffff; width: 880px; padding: 13px 26px; height: 150px; border: 1px solid #999999; border-top: 2px solid #333333;}
	.article1 > ul > li > .mark_p{color: #ed63ac; font-weight: bold;}
	.ex{margin-bottom: 15px; font-weight: normal;  width: 350px;}
	.article1 > .loginBox > .log_box > p.log > span{display:block;}
	.log_ctrl{float: left; display: block; width: 79%; background: #dddddd; border: 1px solid #aaaaaa; height: 34px; min-height: 34px; margin-bottom: 5px; margin-right: 10px; padding-left: 10px;}
	.btn_log{font-size: 1.2em; background: #008d96; width: 93px; height: 77px; cursor: pointer; color: #ffffff; display: block; border-radius: 3px;}
	.article1 > .loginBox > .log_box > .find_sign_up>ul{float: left; margin-top: 5px; margin-left: 124px;}
	.article1 > .loginBox > .log_box > .find_sign_up>ul>li{float: left;}
	.article1 > .loginBox > .log_box > .find_sign_up>ul>li.txt_li{background: url(../../images/bu_arr.png) no-repeat right 4px; padding-right: 20px; font-weight: normal;}
	.article1 > .loginBox > .log_box > .find_sign_up > ul > li.bar{color: #cccccc; padding: 0 5px; font-size: 1.2em; line-height: 14px;}
	.article1 > ul > li.authBox>ul>li.auth_box{display: block; float: left; width: 276px; height: 150px; }
	.article1 > ul > li.authBox>ul>li.bar{display: block; float: left; width: 2px; height: 150px; background: #cccccc; margin: 0 10px;}
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p.tab_auth{display: block; width: 90%; padding: 10px; border: 0; font-size: 1.15em; font-weight: bold; background: #438de0; margin-left: 5px; text-align: center; margin-bottom: 10px; }
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p{color: #999999;}
	
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p.tab_auth > a{  color: #ffffff;}
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p.tab_kakao_auth{display: block; width: 90%; padding: 10px; border: 0; font-size: 1.15em; margin-left: 5px; text-align: center; margin-bottom: 10px; background: #fee101 url(../../images/bg_logItem2_1.gif) no-repeat;}
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p.tab_naver_auth{display: block; width: 90%; padding: 10px; border: 0; font-size: 1.15em; margin-left: 5px; text-align: center; margin-bottom: 10px; background: #2db400 url(../../images/bg_logItem2_2.gif) no-repeat;}
	.article1 > ul > li.authBox>ul>li.auth_box > .inner_box > p.tab_naver_auth > a{color: #ffffff;}
	
	
	
	
	
	
	
	
	
	
	