.twoDepth dd{list-style-type: square;}
.icon_1,.icon_2,.icon_3,.icon_4,.icon_5,.icon_1_span,.icon_2_span,.icon_3_span,.icon_4_span,.icon_5_span{display:none;}
.gnb{width: 425.9px;}

.aside2 input{display: none;}
.aside2 .ie{display: none;}
.btn_confidence .pen{padding-left: 21px;}