*{margin:0; padding:0;}
a{color: #333333;}
/* body{background: url(../images/nec_pplComm.png) no-repeat center top; height: 5000px;} */
#bg_100{width: 100%; height: 1703px;  background: #e0f3fa; margin-top:4px;}
#wrapper{width: 1420px; margin : 0 auto;}
#container{float: left; width: 1420px; height: 1652px; text-align: justify;}
	.asidewrap{display:block; float: left; width: 298px; height: 1587px; margin : 38px 10px 0px 33px;}
		.aside1{display:block; float:left; width: 298px; height: auto;  background: #ffffff; margin-bottom:8px; overflow: hidden; position: relative;}
		.aside1 .aside1_subj{padding: 25px 30px; background: #008d96 url(../../images/bg_lnbTit.png) no-repeat 35px bottom; font-size: 2.1em; color: #ffffff; font-weight: bold; letter-spacing: -1px;}
		.aside1 .sidewrap{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu{width: 100%; height: auto;}
		.aside1 .sidewrap .sidemenu .title{width: 280px; height: 60px; display: block; font-size: 1.1em; line-height: 60px; padding-left: 18px; color: #666666; border-bottom: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu{display: none; overflow: hidden; height: auto; transition: all 1s;}
		.aside1 .sidewrap .sidemenu.on span{color: #ffffff; background: #ed63ac;}
		.aside1 .sidewrap .sidemenu.on .subsidemenu{display: block;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent{padding: 10px 20px; box-sizing: border-box; padding: 10px 20px; width: 100%; height: 100%; background: #fcfcfc; overflow: hidden; transition: all 0.6s; border-top: 1px solid #dddddd;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li{line-height: 25px; font-size: 1em;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li.on a{color: #ed63ac; font-weight: bold;}
		.aside1 .sidewrap .sidemenu .subsidemenu .sidecontent li a{color: #666666;}

		
		.aside2{display: block; background: #ffffff; float:left; width: 274px; height: 213px; margin-bottom:10px; padding: 12px;}
		.aside2 h3{text-align: left; font-size: 14px; margin-bottom: 12px;}
		

		.tab{overflow: hidden;}
		.aside2>.tab_wrap>.tab> ul li{float: left; width: 130px; height: 30px; line-height: 30px; border: 1px solid #999999; background: #f5f6fa; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; font-weight: normal; margin-bottom: 20px;}
		
		.aside2>.tab_wrap>.tab> ul li a.active{color: #ed63ac; text-decoration: underline; font-weight: bold;}
		
		.aside2 .tab_content ul li a{float: left; display: block; width: 260px; font-size: 0.9em; text-align: left; color: #666666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing: -1px; line-height: 2.1;}
		.aside2 .tab_content ul li a:hover{text-decoration: underline;}
		.aside2 .tab_content ul li a .bullet_num{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #333333; text-align: center; float:left;}
		.aside2 .tab_content ul li a .bullet_num_pink{display: block; width: 11px; height: 11px; padding: 1px; font-size: 0.8em; line-height: 1.1; margin-right: 8px; margin-top: 6px; border-radius: 1px; color: #ffffff; background: #ed63ac; text-align: center; float:left;}
		
		.aside3{display: block; background: #ffffff; float:left; width: 282px; height: 319px; margin-bottom:8px; padding: 8px;}
		.aside3 h3{font-size: 22px; text-align: center; margin-bottom: 15px;}
		.aside3 ul li{display: block; height: 38px; background: #e2e4e9 url(../../images/bullet.png) no-repeat 8px 20px; padding-left: 15px; margin-bottom: 5px; line-height: 40px; font-weight: normal;}
		.aside3 ul li a:hover{text-decoration: underline;}
	.article1{display: block; float:right; width: 1043px; height: 857px; margin-right: 32px; margin-top: 38px; background: #ffffff;}
		.menulog{display:block; width: 990px; height: 25px; border-bottom: 2px solid #444444; margin: 0 auto; padding-top: 20px;}
			.homeIcon{display: block; width: 24px; height: 24px;  float:left; background:url(../../images/bu_home.gif)  no-repeat 6px 6px; cursor: pointer; margin-bottom: 10px;}
				.location{ font-size:0.8em; color: #666666;}
				.print_btn{display:block; float:right; width: 24px; height: 24px; background: url(../../images/print.gif) no-repeat center right; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_facebook.gif) no-repeat center right; cursor:pointer; margin-left: 5px;}
				.sns_k{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_kakao.gif) no-repeat center right; cursor:pointer;}
				.sns_t{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_twitter.gif) no-repeat center right; cursor:pointer;}
				.sns_n{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_blog.gif) no-repeat center right; cursor:pointer; margin-right: 5px;}
				.like_btn{display:block; float: right; width: 70px; height: 24px; background:url(../../images/sns_good.gif) no-repeat right center; cursor:pointer;}
				.sns_f{display:block; float:right; width: 24px; height: 24px; background: url(../../images/sns_facebook.gif) no-repeat center right; cursor:pointer;}
			/* 게시판 정보 */
			.info_bbs{display: block; width: 548px; margin-left: 26px; border-bottom: 5px solid #efefef; padding-right: 443px; margin-right: 26px; height: 200px;
			background : #ffffff url(../../images/img_report1.jpg) no-repeat right 0;}
				.info_bbs > h3{float: left; width: 100%; float: left; font-size: 2.3em; font-weight: normal; margin-bottom: 10px;}
				.info_bbs > span{float: left; font-weight: normal; color: #444444;}
				.info_bbs > .mark_p{color: #ed63ac;}
				.info_bbs > p.warning{float: left; background : url(../../images/ico_caution.png) no-repeat left center; padding-left: 15px; font-weight: normal;}
				.info_bbs > .volume_btn_p{width: 110px; float: left; padding: 8px 0 8px 24px; background: #ed63ac url(../../images/ico_w_report.png) no-repeat 16px 8px; border-radius: 3px; margin-top: 20px; text-align: center; height: 24px; color: #ffffff; font-size: 15px;} 
				.info_bbs > .volume_btn{width: 120px; float: left; padding: 8px 0 8px 24px; background: #333333 url(../../images/ico_w_sch.png) no-repeat 12px 10px; border-radius: 3px; margin-left: 5px; margin-top: 20px; color: #ffffff; text-align: center; height: 24px;}
			
			.volume_process{padding: 26px; float: left;}
			.volume_process h4{width: 100%; background: url(../../images/bu_tit1.gif) no-repeat left 2px; margin-top: 10px; margin-bottom: 10px; float: left; padding-left: 10px;}
			.process_list{float: left; width: 990px;	}
			.process_list > li{width: 164px; padding: 18px; background: #f3f3f3; text-align: center; display: block; float: left;}
			.process_list > .p_arrow{width: 20px;height:30px; background: url(../../images/arrow.png) no-repeat 18px 18px; margin-top: 32px;}
			.process_list > li > .what_li{color: #ed63ac}
			.process_list > li > .who_li{color: #4c79ff; font-weight: normal; padding-bottom: 20px; border-bottom: 1px solid #aaaaaa;}
			.process_list > li > .content_li{color: #666666; margin-top: 20px; font-weight: normal;}
			.process_list > li > span{width: 100%; display: block;}
			
			.process_explain{float: left; margin-top:10px;}
			.process_explain > li{float:left; margin-top: 5px; background: url(../../images/bu_pink.gif) no-repeat left 8px; padding-left: 10px; font-weight: normal;}
			
			.check_warn{float: left;}
			.check_warn h4{float: left; margin-top: 20px;}
			.check_warn .warning{float: left; background: url(../../images/ico_caution.png) no-repeat left 4px; padding-left: 15px; font-weight: normal;}
			.check_warn .warning .mark_p{color:#ed63ac; font-weight:bold;}
			.check_warn .warn_list{float: left; padding: 20px; background: #f3f3f3; margin-top: 5px;}
			.check_warn .warn_list li{float: left; width: 100%; margin-bottom: 5px; font-weight: normal; background: url(../../images/bu_pink.gif) no-repeat left 8px; padding-left: 10px;}
			
			.check_warn .warn_add{float: left; margin-top : 10px; font-weight: normal; background: url(../../images/bu_pink.gif) no-repeat left 8px; padding-left: 10px;}
	.article2{display: block; float:right; width: 983px; height: 238px; margin-right: 32px; margin-top: 10px;  background: #ffffff; padding: 14px 30px;}
		.satisfied{padding: 18px 0;}
		.article2 h3{font-size: 14px; font-weight: normal; background: url(../../images/ico_caution.png) no-repeat left 4px; padding-left: 15px; margin-bottom: 5px;}
		.satis_box{border: 1px solid #dddddd; background: #e2e2e2; padding: 20px 20px 30px 20px; height: 30px;}
		.satis_box > p{float: left; display: block; line-height: 40px; margin-right: 10px;}
		.radio_Box{float: left; padding: 10px; background: #ffffff;}
		.satis_box .radio_Box input#confidence1 + label span{float: left; background: url(../../images/star3.gif) no-repeat 5px top; padding-left: 70px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence1{width: 20px; height: 20px; display: block; float:left;}
		.satis_box .radio_Box input#confidence2 + label span{float: left; background: url(../../images/star2.gif) no-repeat 5px center; padding-left: 50px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence2{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence3 + label span{float: left; background: url(../../images/star1.gif) no-repeat 5px center; padding-left: 30px; padding-right: 20px;}
		.satis_box .radio_Box input#confidence3{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence4{width: 20px; height: 20px; display: block; float: left;}
		.satis_box .radio_Box input#confidence4 + label span{float: left; padding-left: 10px; padding-right: 250px;}
		.btn_confidence{float:left; display: block; background: #474a5b; padding: 10px; height: 20px;}
		.btn_confidence .pen{color: #ffffff; padding-left: 25px; background: url(../../images/ico_w_pen.png) no-repeat 2px 4px;}
		.volume_call{float:left; width: 100%; font-size: 12px; font-weight: normal; margin-bottom: 10px;}
		.page_que{margin-top: 10px;}
		.page_que > p{float:left; background: url(../../images/ico_caution.png) no-repeat left 4px; padding-left: 15px; font-weight: normal; width: 100%;}
		.page_que li{display: block; background: #f2f2f2; border: 1px solid #cccccc; float:left; margin-top:5px; margin-right:5px; padding: 5px 10px 5px 10px; font-weight:normal; color: #666666;}